
@import "mixins";

@font-face {
    font-family: 'KGSecondChancesSolid'; 
    src: url('../fonts/KGSecondChancesSolid.ttf') format('truetype');
}
body{
    background-color:#EFEFEF;
    font-family: Avenir;
}

$headingFont: 'KGSecondChancesSolid';
 h2{
    font-family: $headingFont;
    font-size: 2em;
    color:#EC008B;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    a {
       color:#EC008B;
       &:hover {
        color:#ED295D;
        } 
    }
    }
  h3 {
      font-family: $headingFont;
      font-size: 1.8em;
      color:#2B3C3F;
      padding-top: 0.5em;
      padding-bottom: 0.3em;
    }
   p{
   	font-size:1em;
   }
label{
    font-family: Avenir;
    font-weight:bold;
    color:#2B3C3F;
    font-size:1em;
}
#home-logo-oct{
  max-width:400px;
  margin:0 auto;

 }
.small-centered {
margin-left: auto;
margin-right: auto;
}
.pink-social-icons {
    max-width:40px;
}
.img-column{
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    padding:0;
}
// .big-img-search{
//     width:100%;  
//       @include breakpoint(smaller){
//         max-width:50%;
//     }
//     @include breakpoint(tablet){
//         width:100%
//     }
// }

.img-search{
    width:50%;
    @include breakpoint(smaller){
        width:25%;
    }
    @include breakpoint(tablet){
        width:20%;
    }
}
.file-img-search{
    width:50%;
    @include breakpoint(smaller){
        width:33%;
    }
}
#footer{
  padding-top: 2em;
  padding-bottom: 2em;
  background-color:#2B3C3F;
  color:#fff;
  li{
    color:#EC008B;
    a{
      color:#fff;
    }
  }
}
.dink-button{
    font-family: $headingFont;
    font-size: 2em;
    color:#fff;
    background-color:#EC008B;
    border:none;
    &:hover {
        background:#ED295D;
        color:#fff;
    }
}
.search-div{
  padding-top:1.3em;
}
.search-button{
    font-family: $headingFont;
    font-size: 2em;

    color:#EC008B;
    background-color:#EFEFEF;
    border:none;
    padding:0;
    &:visited {
        color:#EC008B;
        background-color:#EFEFEF;
    }
     &:hover {
        color:#ED295D;
        background-color:#EFEFEF;
    }
}
#search-logo{
    width:50%;
    @include breakpoint(smaller){
        width:100%;
    }
}
#search{
    padding-top:1.2em;
}
.file-button{
    font-family: $headingFont;
    font-size: 2em;
    color:#fff;
    background-color:#2B3C3F;
    border:none;
    &:hover {
        background-color:#BDBDBD;
        color:#fff;
    }
}
.user-info{
    padding-top:2em;
    padding-bottom:2em;
}
.tag-class{
  font-size:1em;
}
.tag-list{
   display:inline;
}
.tags{
  background-color:#2B3C3F;
  &:hover {
        background-color:#BDBDBD;
        color:#fff;
    }
}
.comment{
  background-color:white;
  font-size:1em;
  padding:0.5em;

  border: 1px solid #BDBDBD;
  border-radius: 5px;
}


